---
import NewReminderButton, { Width } from "../shared/NewReminderButton.astro";
import Calendar from "./Calendar.astro";
---

<div class="menu__container">
  <div class="full-menu">
    <Calendar />
    <div class="menu__list">
      <span class="menu__text">Mi Área Personal</span>
      <hr class="menu__divider" />
      <a href="/reminders" class="nav-link menu__item" data-page="/reminders"><div class="home__icon-space"><img src="/icons/bell.svg" alt="bell-icon">  Mis Recordatorios</div>  <span class="item__count">0</span></a>
    </div>
  </div>
  <div class="menu__button-container">
    <NewReminderButton width={Width.MEDIUM} dark={false} bold={false} height={40}/>
  </div>
</div>

<style>
  .menu__container {
    padding: 24px 1rem 32px 20px;
    width: 280px;
    height: 100%;
    flex: auto;
    display: flex;
    flex-direction: column;
    background: var(--color-white-alt);
  }
  .full-menu{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .menu__text{
    font-size: 14px;
    font-weight: 600;
    color: var(--color-gray);
    font-family: var(--font-monserrat);
  }
  .menu__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .menu__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    border-radius: .5rem;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-text-primary);
    text-decoration: none;
    font-family: var(--font-monserrat);
  }
  .menu__item:hover{
    outline: 2px solid var(--color-primary)
  }
  .item__count{
    color: var(--color-text-primary);
  }
  .menu__divider {
    border-color: var(--color-line-gray);
  }
  .home__icon-space{
    display: flex;
    flex-direction: row;
    gap: 11px;
    align-items: center;
  }
  .menu__button-container{
    margin-top: 5rem;
  }
</style>
