---
---
<div class="confirmation-modal hidden" id="archivar-reminder">
  <div class="content-popUp">
    <div class="confirmation-title">
      <img class="file-icon" src="icons/icon-file.svg" alt="icono de una caja para archivar de color amarillo">
      <h3>Archivar</h3>
    </div>
    <div class="confirmation-text">
      <p>Vas a archivar este recordatorio, ¿Deseas continuar?</p>
    </div>
    <div class="confirmation-buttons">
      <button class="btn-cancelar" id="btn-cancelar">
        Cancelar
      </button>
      <button class="btn-confirmar" id="btn-confirmar">
        Si
      </button>
    </div>
  </div>
</div>

<script type="module" is:inline src="/src/utils/validationViewReminder.js"></script>

<style>
  .confirmation-modal {
    position: absolute;
    top: 500px;
    left: 350px; 
    z-index: 9999; 
    width: 280px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    border-radius: 16px;
    border: 1px solid rgb(185, 203, 206);
  }
  .hidden {
    display: none;
  }
  .content-popUp{
    width: 90%;
    height: 90%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    
  }
  .confirmation-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
  }
  .confirmation-title h3 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    color: #2c97a0;
    margin-bottom: 0;
    letter-spacing: 0.8px;
  }
  .confirmation-text p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #4b4d4d;
    text-align: left;   
    letter-spacing: 0.7px;
  }
  .confirmation-buttons {
    margin: 0 auto;
    font-size: 16px;
  }
  button {
    width: 100px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px 20px;
  }
  .btn-confirmar {
    color: #fefefe;
    background-color: #026c7a;
  }
  .btn-cancelar {
    color: #abacac;
    background-color: #edf0f1;
    margin-right: 15px;
    
  }
</style>