<button class="absolute w-12 flex flex-row justify-center items-center gap-1 h-8 py-1 px-[2px] rounded-t-[14px] rounded-b-2xl top-6 right-14 bg-bg_secondary">
  <img src="/icons/world.svg" alt="icon-world">
  <img src="/icons/arrow-up.svg" alt="icon-arrow-up" class="mb-2">
</button>