<section class="w-96 flex flex-col gap-3 bg-bg_secondary rounded-tl-2xl rounded-tr-2xl pt-8 px-4">
  <a href="" class="p-3 flex flex-row gap-5 font-[Montserrat]"><img src="./icons/home.svg" alt="">Inicio</a>
  <a href="" class="p-3 flex flex-row justify-between font-[Montserrat]"><span class="flex flex-row gap-5"><img src="./icons/checklist.svg" alt="">Gestión de Tareas</span><span class="w-6 h-6 border border-[#DFDEDE] py-1 px-2 flex justify-center items-center">5</span></a>
  <a href="" class="p-3 flex flex-row justify-between font-[Montserrat]"><span class="flex flex-row gap-5"><img src="./icons/mail.svg" alt="">Agenda</span></a>
  <a href="" class="p-3 flex flex-row justify-between font-[Montserrat]"><span class="flex flex-row gap-5"><img src="./icons/mail.svg" alt="">Correo</span><span class="w-6 h-6 border border-[#DFDEDE] py-1 px-2 flex justify-center items-center">16</span></a>
  <a href="" class="p-3 flex flex-row justify-between font-[Montserrat]"><span class="flex flex-row gap-5"><img src="./icons/bell.svg" alt="">Mis Notificaciones</span><span class="w-6 h-6 border border-[#DFDEDE] py-1 px-2 flex justify-center items-center">5</span></a>
  <a href="" class="p-3 flex flex-row justify-between font-[Montserrat]"><span class="flex flex-row gap-5"><img src="./icons/schedule.svg" alt="">Calendario</span><span class="w-6 h-6 border border-[#DFDEDE] py-1 px-2 flex justify-center items-center">3</span></a>
</section>