<div class="flex flex-row gap-2">
  <img src="/images/logo.svg" alt="logo" class="w-16 h-14">
  <div class="flex flex-col justify-end font-[Inter]">
    <p class="text-[1rem] font-[400] text-gray-600">LeanMind</p>
    <p class="text-[.5rem] text-gray-400">EFFECTIVE DEVELOPMENT</p>
  </div>
</div>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
</style>