---
---
<div class="login-container">
  <div class="logo-container">
    <img 
      class="image-logo" 
      src="/images/logo.svg" 
      alt="Imagen del logo de la empresa LeanMind que es la letra M en mayúscula de color verde"
    >
    <div class="logo-text">
      <h1>LeanMind</h1>
      <h3>EFFECTIVE DEVELOPMENT</h3>
    </div>
  </div>
  
  <p class="initial-phrase">¡ Nos alegramos verte por aquí de nuevo!</p>
  <button id="loginButton">
    Iniciar Sesión con Google
  </button>
</div>

<style>
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6px 8px;
    margin: 0 auto;
    height: 100vh;
  }
  .logo-container {
    display: flex;
    flex-direction: row;
    gap: 2px;
    margin-bottom: 6px;
  }
  .image-logo {
    width: 88px;
    height: 77px;
  }
  .logo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
  }
  .logo-text h1 {
    color: #535353;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 2px;
    padding-bottom: 3px;
    margin: 0;
  }
  .logo-text h3 {
    color: #535353;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 2px;
    margin: 0;
  }
  .initial-phrase {
    font-size: 20px;
    letter-spacing: 1px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 8px;
    margin-right: 8px;
  }
  button {
    color: white;
    background-color: #046868;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    font-weight: medium;
    font-size: 0.875rem;
    padding: 10px 25px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    transition: background-color 0.3s ease-in-out;
  }
  button:hover {
    background-color: #17937c;
  }
</style>

<script>
  import { auth, provider } from '../../static/js/firebaseconfig';
  import { signInWithPopup, onAuthStateChanged } from 'firebase/auth';

  const handleLogin = async () => {
    try {
      await signInWithPopup(auth, provider);
    } catch (error) {
      console.error('Error durante el login:', error);
    }
  };

  onAuthStateChanged(auth, (user) => {
    if (user) {
      window.location.href = '/home';
    }
  });

  document.addEventListener('DOMContentLoaded', () => {
    const loginButton = document.getElementById('loginButton');
    if (loginButton) {
      loginButton.addEventListener('click', handleLogin);
    }
  });
</script>